@import 'base';
.container {
    background: #424242;
    padding-top: 64px;
    padding-bottom: 32px;
    color : #fff;
    height: 100%;

    a {
        text-decoration: none;
        color : #fff;
        font-weight: 100;
    }

    ul {
        padding: 0px;
        list-style-type: none;
        li {
            padding-top: 16px;
        }
    }
}

.lastLine{
    // text-align: center;
    padding: 16px;
    width: 100%;
    background: #212121;
    color : #fff;
    padding-left: 42px;
    font-weight: 100;
}
