@import 'base';
.container {
    background: #424242;
    padding-top: 64px;
    padding-bottom: 32px;
    color : #fff;
    height: 300px;
}

.lastLine{
    padding: 16px;
    width: 100%;
    background: #212121;
    color : #fff;
    padding-left: 42px;
    font-weight: 100;
}