.App {
  text-align: center;
  background-image: url("https://source.unsplash.com/random/1280x1024");
  background-size: cover;
  background-color: rgba( 0, 0, 0, 0.80);
  background-blend-mode: darken;  
  height: 100%;
}

.Demo {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.Particles, .Particles > div, .Particles > div > canvas  {
 height: 100%;
}
